@import "../../../stylus/imports.variables.styl"

.container-shopping
  .layout-shopping
    display-flex()
    flex-direction(column)

    .title-shopping
      sub-title()
      h2
        margin 0
        color $gray
