<div class="container-form-rawmaterial">
  <div class="layout-form-rawmaterial">
    <div class="title-form-rawmaterial">
      <h2>Registro Materia Prima</h2>
    </div>
    <div class="form-rawmaterial">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Nombre
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Descripción
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Unidad de Medida
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Categoria
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Cantidad en Inventario
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Stock
                <input type="text">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>


