<div class="container-form-roles">
  <div class="layout-form-roles">
    <div class="title-form-roles">
      <h2>Registro Usuarios</h2>
    </div>
    <div class="form-roles">
      <form [formGroup]="userForm">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="first_name">
                *Nombres
                <input type="text" id="first_name" name="first_name" formControlName="first_name">
              </label>
            </div>
            <div class="container-input">
              <label for="last_name">
                Apellidos
                <input type="text" id="last_name" name="last_name" formControlName="last_name">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="email">
                *Correo Eléctronico
                <input type="email" id="email" name="email" formControlName="email">
              </label>
            </div>
            <div class="container-input">
              <label for="rol">
                *Rol
                <select name="rol" id="rol" formControlName="group">
                  <option value="">Seleccione un rol</option>
                  <option *ngFor="let rol of roles; let i = index" value="{{rol.id}}">
                    {{rol.name}}
                  </option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <button class="button" (click)="save()">Guardar</button>
      <button class="button" [routerLink]="['/menu/produccion/tablamaquinas']">Listado</button>
      <button class="button">Cancelar</button>
    </div>
  </div>
</div>
