<div class="container-form-roles">
  <div class="layout-form-roles">
    <div class="title-form-roles">
      <h2>Registro Usuarios</h2>
    </div>
    <div class="form-roles">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Primer Nombre
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Segundo Nombre
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Primer Apellido
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Segundo apellido
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Correo Eléctronico
                <input type="email">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Rol
                <input type="text">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        <img class="save" src="assets/images/icons/save.png" alt="">
      </div>
      <div class="button">
        <img class="search" src="assets/images/icons/search.png" alt="">
      </div>
      <div class="button">
        <img class="delete" src="assets/images/icons/delete.png" alt="">
      </div>
      <div class="button">
        <img class="list" src="assets/images/icons/list.png" alt="">
      </div>
    </div>
  </div>
</div>
