<div class="container-form-machine">
  <div class="layout-form-machine">
    <div class="title-form-machine">
      <h2>Registro Máquinas</h2>
    </div>
    <div class="form-machine">
      <form [formGroup]="machineForm">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="name">
                *Nombre Máquina
                <input type="text" id="name" name="name" formControlName="name">
              </label>
            </div>
            <div class="container-input">
              <label for="description">
                Descripción
                <input type="text" id="description" name="description" formControlName="description">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="quantity">
                *Capacidad Producción
                <input type="text" id="quantity" name="quantity" formControlName="quantity">
              </label>
            </div>
            <div class="container-input">
              <label for="unit">
                *Unidad de Medida
                <select id="unit" name="unit" formControlName="unit">
                  <option value="" selected>Seleccione una unidad</option>
                  <option *ngFor="let unit of units; let i = index"
                          [hidden]="!unit.estado"
                          value="{{unit.id}}"
                  >
                    {{unit.nombre}}
                  </option>
                </select>
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="time">
                *Tiempo Producción
                <input type="time" id="time" name="time" formControlName="time">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <button class="button" (click)="save()">Guardar</button>
      <button class="button" [routerLink]="['/menu/produccion/tablamaquinas']">Listado</button>
      <button class="button">Cancelar</button>
    </div>
  </div>
</div>

