/*
 * Helper for a form control().
 */
form-control(width = 197, height = 36)
  background-color $white
  color $gray1
  box-sizing(border-box)
  border 1px solid $gray_ligth
  height height px
  width width px
  border-radius 2px
  text-indent 3px


appereance( value = none ){
  -webkit-appearance value
  -moz-appearance    value
  appearance         value
}

select-control()
  appereance( none )
  //background url(assets/images/icons/dropdown_icon.svg)
  background-repeat no-repeat
  background-position 95% 50%
  background-color $white

buttons()
  height 30*$px
  width 100*$px
  border none
  background $background_menu
  color $white
  border-radius $radius
  margin-left 7*$px
  cursor pointer
