<div class="container-form-production">
  <div class="layout-form-production">
    <div class="title-form-production">
      <h2>Registro Máquinas</h2>
    </div>
    <div class="form-production">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Nombre Máquina
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Descripción
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Capacidad Producción
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Unidad de Medida
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Tiempo Producción
                <input type="email">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>

