<div class="container-form-machine">
  <div class="layout-form-machine">
    <div class="title-form-machine">
      <h2>Registro Máquinas</h2>
    </div>
    <div class="form-machine">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Nombre Máquina
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Descripción
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Capacidad Producción
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Unidad de Medida
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Tiempo Producción
                <input type="email">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        <img src="assets/images/icons/save.png" alt="">
      </div>
      <div class="button">
        <img src="assets/images/icons/search.png" alt="">
      </div>
      <div class="button">
        <img src="assets/images/icons/delete.png" alt="">
      </div>
      <div class="button">
        <img src="assets/images/icons/list.png" alt="">
      </div>
    </div>
  </div>
</div>

