<section class="container-user-password">
  <div class="layout-user-password">
    <header class="container-logo">
      <figure>
        <img src="assets/images/logo.png" alt="">
      </figure>
    </header>
    <div class="container-form">
      <form [formGroup]="userPasswordForm">
        <div class="container-inputs">
          <label for="username">
            *Nombre de Usuario
            <input type="text"  id="username" name="username" formControlName="username">
          </label>
          <label for="password">
            *Contraseña
            <input type="password"  id="password" name="password" formControlName="password">
          </label>
          <label for="confirm-password">
            *Confirmar Contraseña
            <input type="password"  id="confirm-password" name="confirm-password" formControlName="confirmPassword">
          </label>
        </div>
      </form>
      <div class="container-buttons">
        <button class="btn-default" (click)="save()">Registrar</button>
      </div>
    </div>
  </div>
</section>
