@import "../../../stylus/imports.variables.styl"

.container-user-password
  display-flex()
  vertical-center()
  height 100vh

  .layout-user-password
    display-flex()
    flex-direction( column )
    width 437.5*$px
    height 80%
    background $white
    padding 14*$px

    .container-logo
      text-align center

      figure
        margin 0 auto
        width 201.25*$px

        img
          width  percent(1)

    .container-form
      display-flex()
      flex-direction(column)
      margin-top 14*$px

      .container-inputs
        width percent(0.8)
        margin 0 auto

        label
          width 85%
          display block
          margin 14*$px  auto
          color $gray1
          font-size 15px

          input
            form-control(300, 35)
            display block
            margin-top 5.8px
            width 100%

      .container-buttons
        width percent(0.68)
        margin 0 auto
        text-align right
        margin-top 14*$px

        button
          buttons()