@import "../../../../../stylus/imports.variables.styl"

.container-form-product
  padding 2rem 3rem

  .layout-form-product
    display-flex()
    flex-direction(column)

    .title-form-product
      sub-title()
      justify(center)
      border-bottom none
      padding-top 0
      padding-bottom 2rem

      h2
        margin 0
        color $gray

    .container-tabs
      background $white
      border-bottom 1px solid $background_menu
      .layout-tabs
        display-flex()
        .tab
          width percent(0.33)
          padding 1rem 1.5rem
          cursor pointer
        .selected
          border-top 2px solid $background_menu
          background $gray_ligth1
          &:first-child
            margin-left 1px
          &:last-child
            margin-right 1px
          span
            color $background_menu



    .form-product, .form-recipe, .form-process
      padding 2rem 3rem
      background $white
      form
        .container-inputs
          width percent(0.9)
          margin 0 auto

          .layout-input
            display-flex()
            justify(space-between)

            .container-input
              width percent(0.34)

              label
                display block
                margin 15px  auto
                color $gray1
                font-size 15px
                width percent(1)

                input, select
                  form-control(250, 35)
                  display block
                  margin-top 5.8px
                  width percent(1)
                select
                  select-control()

    .form-recipe
      form
        .container-inputs
          .layout-input
            justify(space-around)
            &:first-child
              justify(space-between)
              margin-left 30px
            &:last-child
              .layout-table-recipe
                width percent(1)
                .title-table
                  h3
                    text-align center
                    color $gray
                .container-table
                  .head-table
                    display-flex()
                    background $background_menu
                    .title
                      width calc(90% / 3)
                      padding 1rem 0.5rem
                      text-align center
                      span
                        color $white
                    .actions
                      width percent(0.1)
                  .body-table
                    .layout-body
                      max-height 250px
                      overflow-y auto
                      .row-recipe
                        display-flex()
                        border-bottom 1px solid $background_menu
                        .t-body
                          width calc(90% / 3)
                          padding 1rem 0.5rem
                          text-align center
                          .input
                            width 90%
                            margin 0 auto
                            input, select
                              form-control(100, 35)
                              display block
                              margin-top 5.8px
                              width percent(1)
                            select
                              select-control()
                        .actions
                          width percent(0.1)
                          .container-icons
                            margin 0
            .container-input
              &:first-child
                label
                  input
                    width 100%
              &:nth-child(n + 2)
                width percent(0.22)
                label
                  input
                    width 100%

    .form-process
      form
        .container-inputs
          .layout-select-process
            display-flex()
            justify(space-between)
            margin-top 2rem

            .panel-left, .panel-right
              width percent(0.40)
              min-height 300px
              border 1px solid $background_menu
              border-radius 3px

              .title-process
                sub-title()
                background $background_menu

                span
                  color $white
                  font-size 12px
                  text-transform uppercase

              .process-selected
              .process-unselected
                .process
                  padding 1rem 1rem
                  cursor pointer
                  &:hover
                    background $gray_ligth1
                    span
                      color $background_menu
    .container-buttons
      display-flex()
      padding 2rem

      .button
        width 50px
        height 50px
        text-align center
        background $background_menu
        border-radius percent(0.5)
