title()
  display-flex()
  flex-direction()
  align-items( center )
  padding 1rem 2rem
  height 60px
  border-bottom 3px solid $background_menu

sub-title()
  display-flex()
  flex-direction()
  align-items( center )
  padding 1rem 2rem
  height 30px
  border-bottom 1px solid $background_menu
