@import "../../../../../stylus/imports.variables.styl"

.container-form-unitmeasure
  padding 2rem 3rem

  .layout-form-unitmeasure
    display-flex()
    flex-direction(column)

    .title-form-unitmeasure
      sub-title()
      justify(center)
      border-bottom none
      padding-top 0
      padding-bottom 2rem

      h2
        margin 0
        color $gray

    .form-unitmeasure
      padding 2rem 3rem
      background $white
      form
        .container-inputs
          width percent(0.9)
          margin 0 auto

          .layout-input
            display-flex()
            justify(space-between)

            .container-input
              width percent(0.40)

              label
                display block
                margin 15px  auto
                color $gray1
                font-size 15px
                width percent(1)

                input
                  form-control(250, 35)
                  display block
                  margin-top 5.8px
                  width percent(1)

    .container-buttons
      display-flex()
      padding 2rem
      padding-left 0

      .button
        width 50px
        height 50px
        text-align center
        position relative
        background $background_menu
        border-radius percent(0.5)
        &:nth-child(n - 3)
          margin-right 1rem

        img
          position absolute
          top 12px
          left 12px
        .save, .search
          width 26px
          height 26px
        .delete, .list
          width 22px
          height 22px
        .delete, .list
          left 15px
          top 14px
