@import "../../stylus/imports.variables.styl"

.header
  display-flex()
  flex-direction()
  align-items( center )
  padding 1rem 2rem
  height 60px
  border-bottom 3px solid $background_menu

  .title-header
    width percent(0.7)

    h1
      margin 0
      color $gray

  .user-data
    width percent(0.3)

    span
      color $gray
