<div class="container-form-process">
  <div class="layout-form-process">
    <div class="title-form-process">
      <h2>Registro Procesos</h2>
    </div>
    <div class="form-process">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Nombre
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Descripción
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="machine">
                *Maquina
                <select name="machine" id="machine">
                  <option value="">Seleccione una maquina</option>
                </select>
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Tiempo
                <input type="text">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>



