<div class="layout-menu">
  <div class="panel-logo">
    <div class="container-logo">
      <figure>
        <img src="assets/images/logo.png" alt="">
      </figure>
    </div>
    <div class="subtitle-logo">
      <span>Refrescos Chupi Flum</span>
    </div>
  </div>
  <nav class="panel-menu">
    <ul class="general-menu">
      <li class="item-menu" [hidden]="menu.subMenu.length > 0" *ngFor="let menu of dataMenu; let i = $index"
          >
        <div class="layout-text-menu">
          <span class="text-menu">{{ menu.label }}</span>
        </div>
      </li>

      <li class="item-menu" [hidden]="menu.subMenu.length == 0" *ngFor="let menu of dataMenu; let i = $index">
        <div class="layout-text-menu" (click)="openSubMenu(menu)">
          <span href="" class="text-menu">{{ menu.label }}</span>
          <figure class="content-img">
            <img id="{{'img_' + menu.id}}" src="assets/images/icons/arrow_right.png" alt="">
          </figure>
        </div>
        <div id="{{menu.id}}" class="layout-sub-menu inactivated">
          <ul class="sub-menu" >
            <li class="item-sub-menu" *ngFor="let subMenu of menu.subMenu;" >
              <span class="text-menu">{{ subMenu.label }}</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
