<div class="container-form-rawmaterial">
  <div class="layout-form-rawmaterial">
    <div class="title-form-rawmaterial">
      <h2>Registro Materia Prima</h2>
    </div>
    <div class="form-rawmaterial">
      <form [formGroup]="formMaterial">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="name">
                *Nombre
                <input type="text" name="name" id="name" formControlName="name">
              </label>
            </div>
            <div class="container-input">
              <label for="description">
                Descripción
                <input type="text" name="description" id="description" formControlName="description">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="unit">
                *Unidad de Medida
                <select name="unit" id="unit" formControlName="unit">
                  <option value="">Seleccione una unidad</option>
                  <option *ngFor="let unit of units; let i = index"
                    value="{{unit.id}}"
                  >
                    {{unit.nombre}}
                  </option>
                </select>
              </label>
            </div>
            <div class="container-input">
              <label for="category">
                *Categoria
                <select name="category" id="category" formControlName="category">
                  <option value="">Seleccione una Categoria</option>
                  <option *ngFor="let category of categories; let i = index"
                    value="{{category.id}}"
                  >
                    {{category.nombre}}
                  </option>
                </select>
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="quantity">
                Cantidad en Inventario
                <input type="text" name="quantity" id="quantity" formControlName="quantity">
              </label>
            </div>
            <div class="container-input">
              <label for="stock">
                *Stock
                <input type="text" name="stock" id="stock" formControlName="stock">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <button class="button" (click)="save()">Guardar</button>
      <button class="button" [routerLink]="['/menu/compras/tablamateriaprima']">Listado</button>
      <button class="button">Cancelar</button>
    </div>
  </div>
</div>


