@import "../../stylus/imports.variables.styl"


.container-homepage
  display-flex()
  flex-direction( column )
  min-height 100vh
  .layout-homepage
    display-flex()
    align-items( stretch )

    .panel-left
      width percent(0.20)
      background $background_menu
      height 100vh

    .panel-rigth
      display-flex()
      flex-direction( column )
      width percent(0.8)
      background $gray_ligth1
