@import "../../../stylus/imports.variables.styl"

.container-production
  .layout-production
    display-flex()
    flex-direction(column)

    .title-production
      sub-title()
      h2
        margin 0
        color $gray
