<div class="container-form-roles">
  <div class="layout-form-roles">
    <div class="title-form-roles">
      <h2>Registro Roles</h2>
    </div>
    <div class="form-roles">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Rol
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Descripción
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-select-permissions">
            <div class="panel-left">
              <div class="title-permissions">
                <span>permisos por asignar</span>
              </div>
              <div class="permissions-unselected">
                <div class="permission">
                  <span>Crear Usuarios</span>
                </div>
              </div>
            </div>
            <div class="panel-right">
              <div class="title-permissions">
                <span>permisos asignados</span>
              </div>
              <div class="permissions-selected">
                <div class="permission">
                  <span>Crear Proveedor</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>
