@import "../../../../../stylus/imports.variables.styl"

.container-form-roles
  padding 2rem 3rem

  .layout-form-roles
    display-flex()
    flex-direction(column)

    .title-form-roles
      sub-title()
      justify(center)
      border-bottom none
      padding-top 0
      padding-bottom 2rem

      h2
        margin 0
        color $gray

    .form-roles
      padding 2rem 3rem
      background $white
      border 1px solid $background_menu
      border-radius 3px
      form
        .container-inputs
          width percent(0.9)
          margin 0 auto

          .layout-input
            display-flex()
            justify(space-between)

            .container-input
              width percent(0.40)

              label
                display block
                margin 15px  auto
                color $gray1
                font-size 15px
                width percent(1)

                input
                  form-control(250, 35)
                  display block
                  margin-top 5.8px
                  width percent(1)

          .layout-select-permissions
            display-flex()
            justify(space-between)
            margin-top 2rem

            .panel-left, .panel-right
              width percent(0.40)
              min-height 300px
              border 1px solid $background_menu
              border-radius 3px

              .title-permissions
                sub-title()
                background $background_menu

                span
                  color $white
                  font-size 12px
                  text-transform uppercase

              .permissions-selected
              .permissions-unselected
                .permission
                  padding 1rem 1rem
                  cursor pointer
                  &:hover
                    background $gray_ligth1
                    span
                      color $background_menu

    .container-buttons
      display-flex()
      padding 2rem

      .button
        width 50px
        height 50px
        text-align center
        background $background_menu
        border-radius percent(0.5)
