<div class="container-form-process">
  <div class="layout-form-process">
    <div class="title-form-process">
      <h2>Registro Procesos</h2>
    </div>
    <div class="form-process">
      <form [formGroup]="formProcess">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="name">
                *Nombre
                <input type="text" id="name" name="name" formControlName="name">
              </label>
            </div>
            <div class="container-input">
              <label for="description">
                Descripción
                <input type="text" id="description" name="description" formControlName="description">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="machine">
                *Maquina
                <select name="machine" id="machine" formControlName="machine">
                  <option value="">Seleccione una maquina</option>
                </select>
              </label>
            </div>
            <div class="container-input">
              <label for="time">
                *Tiempo
                <input type="text" id="time" name="time" formControlName="time">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <button class="button">Guardar</button>
      <button class="button" [routerLink]="['/menu/produccion/tablaprocesos']">Listado</button>
      <button class="button">Cancelar</button>
    </div>
  </div>
</div>



