@import "../../../../../stylus/imports.variables.styl"

.container-form-process
  padding 2rem 3rem

  .layout-form-process
    display-flex()
    flex-direction(column)

    .title-form-process
      sub-title()
      justify(center)
      border-bottom none
      padding-top 0
      padding-bottom 2rem

      h2
        margin 0
        color $gray

    .form-process
      padding 2rem 3rem
      background $white
      form
        .container-inputs
          width percent(0.9)
          margin 0 auto

          .layout-input
            display-flex()
            justify(space-between)

            .container-input
              width percent(0.40)

              label
                display block
                margin 15px  auto
                color $gray1
                font-size 15px
                width percent(1)

                input, select
                  form-control(250, 35)
                  display block
                  margin-top 5.8px
                  width percent(1)
                select
                  select-control()

    .container-buttons
      display-flex()
      padding 2rem
      padding-left 0

      .button
        buttons()
        &:nth-child(n - 3)
          margin-right 1rem
