<div class="container-form-unitmeasure">
  <div class="layout-form-unitmeasure">
    <div class="title-form-unitmeasure">
      <h2>Registro Unidad de Medida</h2>
    </div>
    <div class="form-unitmeasure">
      <form action="" [formGroup]="unitForm">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="name">
                *Nombre
                <input type="text" formControlName="name" name="name" id="name" required>
              </label>
            </div>
            <div class="container-input">
              <label for="description">
                Descripción
                <input type="text" formControlName="description" name="description" id="description">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="code">
                *Código
                <input type="text" formControlName="code" name="code" id="code" required>
              </label>
            </div>
            <div class="container-input">
              <label for="equivalence">
                *Equivalencia
                <input type="number" formControlName="equivalence" name="equivalence" id="equivalence" required>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <button class="button" (click)="save()">Guardar</button>
      <button class="button" [routerLink]="['/menu/produccion/tablaunidadmedidas']">Listado</button>
      <button class="button" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>


