// **************
// =BASE VARIABLES
// **************

//base for layout
$base_unit = 14

//Relative pixel
$px = ( 1 / $base_unit ) rem

// *** golden ratio *** //

$phi = 1.618

$golden_major = 0.618

$golden_minor = 0.382


