@require 'base'

// **************
// =SHADOWS
// **************


$softShadow = 0 0 10*$px rgba(0,0,0,0.3)

$greySoftShadow = 4*$px 2*$px 9*$px 2*$px rgba(147,147,147,0.50)

$deep_grey_shadow = 3*$px 5*$px 15*$px rgba(0,0,0,0.2)

$pair_offers_list_shadow = 0*$px 2*$px 2*$px rgba(147,147,147,0.2)

$pair_offers_use_active_shadow = inset 5px 5px 10px 0px rgba(147,147,147,0.50)

$bottom_right_shadow = 3px 3px 5px -3px rgba(147,147,147,0.50)

$borders-soft-shadow = 1.5 *$px 1px 12 *$px 1.5 *$px rgba(0,0,0,0.1)
