<div class="container-form-kardex-order">
  <div class="layout-form-kardex-order">
    <div class="title-form-kardex-order">
      <h2>Entrada Materia Prima</h2>
    </div>
    <div class="form-kardex-order">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="date">
                *Proveedor
                <input type="text" name="date" id="date">
              </label>
            </div>
            <div class="container-input">
              <label for="date">
                *Fecha Pedido
                <input type="text" name="date" id="date">
              </label>
            </div>
            <div class="container-input">
              <label for="date">
                *Usuario
                <input type="text" name="date" id="date">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Tipo de Movimiento
                <select name="movument" id="movument">
                  <option value="0">Seleccione un Movimiento</option>
                  <option value="1">Entrada</option>
                  <option value="2">Salida</option>
                </select>
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Lote
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Fecha Vencimiento
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="layout-table-order">
              <div class="container-table">
                <div class="head-table">
                  <div class="title">
                    <span>Producto</span>
                  </div>
                  <div class="title">
                    <span>Unidad Med.</span>
                  </div>
                  <div class="title">
                    <span>Cantidad</span>
                  </div>
                  <div class="title actions">
                    <span></span>
                  </div>
                </div>
                <div class="body-table">
                  <div class="layout-body" id="layout-body-order">
                    <div class="row-order">
                      <div class="t-body raw-material">
                        <div class="input">
                          <input type="text" placeholder="Materia Prima">
                        </div>
                      </div>
                      <div class="t-body unit-measure">
                        <div class="input">
                          <select name="unit" id="">
                            <option value="">Seleccione una unidad</option>
                          </select>
                        </div>
                      </div>
                      <div class="t-body quantity">
                        <div class="input">
                          <input type="text" placeholder="Cantidad">
                        </div>
                      </div>
                      <div class="t-body actions">
                        <figure class="container-icons" (click)="addRow()">
                          <img src="assets/images/icons/add_icon.png" alt="">
                        </figure>
                        <figure class="container-icons" (click)="deleteRow()">
                          <img src="assets/images/icons/delete_icon.png" alt="">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        <img class="save" src="assets/images/icons/save.png" alt="">
      </div>
      <div class="button">
        <img class="search" src="assets/images/icons/search.png" alt="">
      </div>
      <div class="button">
        <img class="delete" src="assets/images/icons/delete.png" alt="">
      </div>
      <div class="button">
        <img class="list" src="assets/images/icons/list.png" alt="">
      </div>
    </div>
  </div>
</div>

