<section class="container-login">
  <div class="container-general">
    <div class="layout-login">
      <div class="container-logo-login">
        <figure>
          <img src="assets/images/logo.png" alt="">
        </figure>
      </div>
      <div class="container-form-login">
        <form action="">
          <div class="layout-form-login">
            <label for="username">
              Nombre de Usuario
              <input type="text" name="username" id="username">
            </label>
            <label for="password">
              Contraseña
              <input type="password" name="password" id="password">
            </label>
          </div>
          <div class="layout-buttons-login">
            <div class="container-button">
              <input class="btn-default" type="submit" value="Ingresar">
            </div>
          </div>
        </form>
      </div>
      <div class="container-reset-password">
        <a href="">Recuperar Contraseña</a>
      </div>
    </div>
  </div>
</section>
