<section class="container-login">
  <div class="container-general">
    <div class="layout-login">
      <div class="container-logo-login">
        <figure>
          <img src="assets/images/logo.png" alt="">
        </figure>
      </div>
      <div class="container-form-login">
        <form>
          <div class="layout-form-login">
            <label for="username">
              Nombre de Usuario
              <input type="text"  id="username" [(ngModel)]="username" name="username">
            </label>
            <label for="password">
              Contraseña
              <input type="password" name="password" id="password" (ngModel)="password" required>
            </label>
          </div>
          <div class="layout-buttons-login">
            <div class="container-button">
              <button type="submit" class="btn-default" (click)="sigIn($event)">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container-reset-password">
        <a href="">Recuperar Contraseña</a>
      </div>
    </div>
  </div>
</section>
