<div class="container-form-roles">
  <div class="layout-form-roles">
    <div class="title-form-roles">
      <h2>Registro Usuarios</h2>
    </div>
    <div class="form-roles">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Primer Nombre
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Segundo Nombre
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Primer Apellido
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Segundo apellido
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Correo Eléctronico
                <input type="email">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Rol
                <input type="text">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>
