<div class="container-form-supplier">
  <div class="layout-form-supplier">
    <div class="title-form-supplier">
      <h2>Registro Proveedores</h2>
    </div>
    <div class="form-supplier">
      <form action="">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *NIT
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Nombre de la Empresa
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Dirección
                <input type="text">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                *Teléfono
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                Fax
                <input type="email">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Correo Empresa
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Nombres Contacto
                <input type="email">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Apellidos Contacto
                <input type="text">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="">
                *Teléfono Contacto
                <input type="email">
              </label>
            </div>
            <div class="container-input">
              <label for="">
                Correo Contacto
                <input type="text">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons">
      <div class="button">
        G
      </div>
      <div class="button">
        C
      </div>
      <div class="button">
        E
      </div>
      <div class="button">
        L
      </div>
    </div>
  </div>
</div>

